<div id="optrule-modal" class="modal fade"    data-backdrop="false"  tabindex="-1">
	<div class="modal-dialog modal-lg" >		
			<div class="modal-content">			
				<!-- <div class="modal-header">
					<h1 id="optrule-title" class="center bigger-1000 lighter no-margin">opt Rule</h1>
				</div>	 -->

				<div class="modal-body">
					<button id="optrule-close" type="button" class="close black" aria-hidden="true">&#160;&times;&#160;</button>
					<div claee=row>
						<!-- <div class="col-lg-12 btn-group-lg">
							<button id="topo-Input-button" class="btn btn-app btn-grey btn-xs"><i class="ace-icon fa bigger-100"></i>
								INPUT
							</button>						
							<button id="topo-output-button" class="btn btn-app btn-grey btn-xs"><i class="ace-icon fa bigger-100"></i>
								OUTPUT
							</button>
						</div> -->
						
						<!-- <div class="col-lg-12 center">
							<button id="optrule-confirm" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i>
								Optimize Confirm
							</button>
						</div> -->
						<div id="optpage-body" class="hidden">
									<div class="row">
										<div class="col-xs-12">
											<div id="optflowmap-header" class="block-header"  align="center">
											</div>
											<div id="optflowmap-body">
												<div class="tabbable">
													<ul id="optchart-tabs" class="nav nav-tabs"></ul>
													<div id="opttab-content" class="tab-content"></div>
												</div>
											</div>	
										</div>
									</div>
								</div>
						<!-- <div id="anotheroptpage-body" class="hidden">
							<div class="row">
								<div class="col-xs-12">
									<div id="anotheroptflowmap-header" class="block-header"  align="center">
										<div class="row">
											<div class="hr hr-24"></div>
											<span style="font-size: 35px; padding-top: 8px; padding-bottom: 8px; font-weight: bold">
											after optimize
											</span>
										</div>
									</div>
									<div id="anotheroptflowmap-body">
										<div class="tabbable">
											<ul id="anotheroptchart-tabs" class="nav nav-tabs"></ul>
											<div id="anotheropttab-content" class="tab-content"></div>
										</div>
									</div>	
								</div>
							</div>
						</div> -->
						<div class=modal-footer>
							<!-- <div class="col-xs-4 ">
								 <div class="form">
								    <br>選擇介面 : 
								    <input type="checkbox" name="choise" value="eth0-Input" checked>eth0-Input
								    <input type="checkbox" name="choise" value="eth0-Onput" checked>eth0-Onput
								    <input type="checkbox" name="choise" value="eth1-Input" checked>eth1-Input
								    <input type="checkbox" name="choise" value="eth1-Onput" checked>eth1-Onput<br>
								    <input type="button" id="checkall" value="確定" >
								  </div>
							</div>	 -->
							<div class="col-xs-12 ">
								<div class="btn-group pull-right">
									<div class="row">
										<div class="col-xs-12">
											<button id="optrule-confirm" class="btn btn-sm btn-success">
												<i class="ace-icon fa fa-check"></i>
												Optimize Confirm
											</button>
											<button id="optrule-window-close" class="btn btn-sm btn-danger" >
												<i class="ace-icon fa fa-times"></i>
												Close
											</button>
										</div>
										<div class="col-xs-12">
											<button id="optrule-save" class="btn btn-sm btn-success">
												<i class="ace-icon fa fa-floppy-o bigger-100"></i>
												save optimize result 
											</button>
											<button id="optrule-nosave" class="btn btn-sm btn-danger" >
												<i class="ace-icon fa fa-times"></i>
												Not save optimize result
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="col-xs-12 ">
								<div class="btn-group pull-right">
									<div class="row">
										<div class="col-xs-12">
											<button id="optrule-save" class="btn btn-sm btn-success">
												<i class="ace-icon fa fa-save"></i>
												save optimize result 
											</button>
											<button id="optrule-nosave" class="btn btn-sm btn-danger" >
												<i class="ace-icon fa fa-times"></i>
												Not save optimize result
											</button>
										</div>
									</div>
								</div>
							</div> -->
							
						</div>						
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	
</div>

